<script src="/js/Servicos/cadastrar.js"></script>
<div>
    <h1>Solicitar Serviços</h1>
    <div>
        <div class="form-group">

            <label for="servico">Servico</label>
            <div class="form-field">
                <i class="icon icon-chevron-down"></i>
                <select name="servico" id="servico" class="form-control"  required>
                    <option value="" disabled selected>Selecione seu Serviço</option>
                    <option value="1">Pacote All-Inclusive (bebidas e refeições) - R$300,00</option>
                    <option value="2">Excursão de Mergulho em Recifes de Corais - R$150,00</option>
                    <option value="3">Spa Relaxante - Massagem de 60 minutos - R$180,00</option>
                    <option value="4">Transporte para Ilha Particular - R$200,00</option>
                    <option value="5">Passeio de Barco até a Praia Exótica - R$100,00</option>
                    <option value="6">Aula de Pilates no Deck - R$50,00</option>
                    <option value="7">Transporte VIP para Porto de Embarque - R$120,00</option>
                    <option value="8">Jantar à La Carte no Restaurante do Navio - R$75,00</option>
                    <option value="9">Excursão Cultural Guiada em Porto de Parada - R$120,00</option>
                    <option value="10">Pacote Wi-Fi Premium para toda a viagem - R$200,00</option>
                    <option value="11">Passeio de Helicóptero sobre a Ilha - R$300,00</option>
                    <option value="12">Aluguel de Caiaque - R$40,00</option>
                    <option value="13">Aula de Dança de Salsa no Deck - R$60,00</option>
                    <option value="14">Aluguel de Equipamento de Snorkel - R$30,00</option>
                    <option value="15">Serviço de Concierge a Bordo - R$150,00</option>
                    <option value="16">Aula de Culinária Local no Navio - R$100,00</option>
                    <option value="17">Tratamento Facial no Spa do Navio - R$120,00</option>
                    <option value="18">Noite de Gala com Jantar Especial - R$300,00</option>
                    <option value="19">Serviço de Quarto 24h (comida e bebida) - R$30,00</option>
                    <option value="20">Passeio de Submarino em Alto Mar - R$250,00</option>
                    <option value="41">Acesso à Academia de Ginástica - R$50,00</option>
                    <option value="42">Acesso à Área Exclusiva de Drinks & Cocktails - R$80,00</option>
                    <option value="43">Acesso à Piscina de Luxo e Jacuzzi - R$100,00</option>
                    <option value="44">Acesso à Massoterapia - Pacote de 3 Sessões - R$200,00</option>
                    <option value="45">Acesso ao Self-Service 24h - R$40,00</option>
                </select>
                <p id="pservico"></p>
            </div>

        </div>

        <div>
            <button id="btnGravar" class="btn btn-primary">Gravar</button>
            <a class="btn btn-secondary" href="/servico">Voltar</a>
        </div>
    </div>
</div>